/* общие анимации */
@import "reset.css";
@keyframes fly {
  0% {transform: translateY(0vw);}
  50% {transform: translateY(-1.1vw);}
  100% {transform: translateY(0vw);}
}
@keyframes fly1 {
  0% {transform: translateY(0vw);}
  50% {transform: translateY(-2.1vw);}
  100% {transform: translateY(0vw);}
}
@keyframes fly2 {
  0% {transform: translateY(0vw);}
  50% {transform: translateY(-5.1vw);}
  100% {transform: translateY(0vw);}
}
@keyframes wow {
  0% {background-color: black;}
  50% {background-color: grey;}
  100% {background-color: black;}
}
.wow {animation: wow 2.5s;}



/* общие свойства */
html {
  background-color: black;
  transition: all .6s ease;
  cursor: url('../images/cursor.svg'), auto;
  color: white;
}
h1 {
  position: absolute;
  font-family: 'Heading Pro Wide Trial', auto;
  font-size: 2.4vw;
  font-weight: 300;
  line-height: 3.87vw;
  letter-spacing: 0.02em;
  text-align: center;
}
p {
  position: absolute;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.41vw;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  letter-spacing: 0.045em;
  line-height: 147%;
}
a {
  color: white;
  cursor: url('../images/cursor.svg'), pointer;
}
body {margin: 0px;}



/* общие параметры */
.anim:hover {animation-play-state: paused;}
.none {display: none;}
.pos {position: absolute;}
.cover {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  position: relative;
  max-width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}
.bigsprinkles {
  height: 440.69vw;
  width: 105.77vw;
  filter: blur(1px);
  background-image: url('../images/bigsprinkles.png');
}
.stars {
  height: 100vw;
  width: 149vw;
  background-image: url('../images/stars.png');
}
#naming {
  position: absolute;
  width: 93.55vw;
  height: 3.95vw;
  left: calc(50% - 93.55vw/2);
  top: 2.65vw;
}
#one {
  left: 45.4vw;
  top: 8.5vw;
  width: 9vw;
}
#two {
  left: 43.41vw;
  top: 14.19vw;
}
#three {
  left: 39.01vw;
  top: 19.98vw
}
#four {
  left: 45.61vw;
  top: 25.59vw;
}
#five {
  left: 45.01vw;
  top: 31.12vw;
}
#six {
  width: 27vw;
  letter-spacing: 0.045em;
  line-height: 147%;
  left: 36.9vw;
  top: 43.49vw;
}
#inputs {
  padding: 0 0;
  outline: none;
  border: none;
  background: none;
  color: white;
  font-family: 'Heading Pro Wide Trial', auto;
  font-size: 2.4vw;
  font-weight: 300;
  line-height: 3.87vw;
  letter-spacing: 0.02em;
  text-align: center;
  cursor: url('../images/input.svg'), text;
}
#seven {
  left: 33.7vw;
  top: 14.5vw;
  width: 31vw;
}
#eight {
  left: 33.7vw;
  top: 20.52vw;
  width: 31vw;
}
#nine {
  left: 33.7vw;
  top: 26.7vw;
  width: 31vw;
}
#ten {
  left: 38.2vw;
  top: 38.8vw;
  cursor: url('../images/cursor.svg'), pointer;
}
.ontext {transition: 0.7s ease-in-out;}
.ontext:hover {
  text-shadow: 0px 0px 30px #FFFFFF;
  transition: 0.3s ease-in-out;
  transform: scale(1.05);
}



/* кастомный скроллбар */
::-webkit-scrollbar {
  width: 0.78vw;
  height: 0vw;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #393E50;
  border-radius: 8vw;
}
::-webkit-scrollbar-thumb:hover {
  background: white;
}



/* опции липучего меню */
.options {
  height: 41vw;
  width: 35.05vw;
  left: 32.45vw;
  top: 7.95vw;
  background-image: url('../images/options.svg');
}
.fivestars {
  position: absolute;
  width: 7.34vw;
  height: 4.6vw;
  left: 2.4vw;
  top: 2.55vw;
  background-image: url('../images/fivestars.svg');
  cursor: url('../images/cursor.svg'), pointer;
}
.onestar {
  position: absolute;
  width: 7.15vw;
  height: 3.6vw;
  left: 90.2vw;
  top: 2.35vw;
  background-image: url('../images/onestar.svg');
  cursor: url('../images/cursor.svg'), pointer;
}
.bron {
  width: 36.89vw;
  height: 29.59vw;
  left: 32.43vw;
  top: 13.71vw;
  background-image: url('../images/bron.svg');
}
.off {
  width: 3.23vw;
  height: 3.17vw;
  left: 66.89vw;
  top: 14.59vw;
}
